/src/阴阳易演/bin
/src/阴阳易演/obj
/src/阴阳易演.ForNS/obj/阴阳易演.ForNS.csproj.nuget.g.targets
/src/阴阳易演.ForNS/obj/阴阳易演.ForNS.csproj.nuget.g.props
/src/阴阳易演.ForNS/obj/阴阳易演.ForNS.csproj.nuget.cache
/src/阴阳易演.ForNS/obj/project.assets.json
/src/阴阳易演.ForNS/obj/Debug/netstandard2.0/阴阳易演.ForNS.pdb
/src/阴阳易演.ForNS/obj/Debug/netstandard2.0/阴阳易演.ForNS.dll
/src/阴阳易演.ForNS/obj/Debug/netstandard2.0/阴阳易演.ForNS.csproj.FileListAbsolute.txt
/src/阴阳易演.ForNS/obj/Debug/netstandard2.0/阴阳易演.ForNS.csproj.CoreCompileInputs.cache
/src/阴阳易演.ForNS/obj/Debug/netstandard2.0/阴阳易演.ForNS.assets.cache
/src/阴阳易演.ForNS/obj/Debug/netstandard2.0/阴阳易演.ForNS.AssemblyInfoInputs.cache
/src/阴阳易演.ForNS/obj/Debug/netstandard2.0/阴阳易演.ForNS.AssemblyInfo.cs
/src/阴阳易演.ForNS/bin/Debug/netstandard2.0/阴阳易演.ForNS.pdb
/src/阴阳易演.ForNS/bin/Debug/netstandard2.0/阴阳易演.ForNS.dll
/src/阴阳易演.ForNS/bin/Debug/netstandard2.0/阴阳易演.ForNS.deps.json
/src/.vs
/src/TestResults
/src/YinYangYiYan.Test/obj
/src/YinYangYiYan.Test/bin
/src/packages
/src/阴阳易演.ForNF/obj
/src/阴阳易演.ForNF/bin
/src/阴阳易演.ForNS/obj
/src/阴阳易演.ForNS/bin
